.toast {
  @apply absolute left-1/2 z-50 origin-bottom -translate-x-1/2 px-2 py-1 text-xs font-thin opacity-0;

  &--in {
    animation: toast-in 0.5s forwards;
  }
  &--out {
    animation: toast-out 0.3s forwards;
  }
  @keyframes toast-in {
    0% {
      opacity: 0;
      transform: translate(-50%, -100%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -200%);
    }
  }
  @keyframes toast-out {
    0% {
      opacity: 1;
      transform: translate(-50%, -200%);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -100%);
    }
  }

  &--sm {
    @apply rounded-sm px-2 py-1 text-xs shadow-sm;
  }
  &--md {
    @apply rounded-md px-3 py-1.5 shadow;
  }
  &--lg {
    @apply rounded-lg px-4 py-2.5 text-lg shadow-lg;
  }

  &--primary {
    @apply border-cyan-500 bg-cyan-500 text-white;
  }
  &--secondary {
    @apply border-slate-500 bg-slate-500 text-white;
  }
}
